$accentColor = #056dd2
$codeBgColor = #171A23

body {
	background: #fafaf9
	font-family: GT Pressura !important;
	letter-spacing: 0.02rem;
}

h1 {
	font-weight: 600 !important;
	font-size: 2.6rem !important;
	letter-spacing: -0.9px;

	padding: 8px 16px !important;
	margin-top: 96px !important;

	color: #fff;
	background: $accentColor;
	
	display: inline-block;
	
	a.header-anchor {
		margin-left: -1.2em;
	}
}

.navbar {
	background: hsl(hue($accentColor), 20%, 12%) !important;
	color: #fff;
	
	a:hover {
		color: #fff;
	}

	.site-name {
		color: #fff;
		
		letter-spacing: 2px;
		font-size: 16px;
		font-weight: 500;
		
		text-transform: capitalize;
	}
}

.sidebar-heading {
	font-weight: 500;
	font-size: 1.4rem;
}

.sidebar-group-items li {
	font-size: 1.0rem;
	
	a {
		font-weight: 400 !important;
	}
}

.definition-page .content:not(.custom) > p:first-of-type {
	font-weight: 400;
	font-size: 20px;
	
	margin-top: 8px;
	margin-bottom: 48px;
}

.content {
	font-family: GT Walsheim Pro !important;
	letter-spacing: 0px;
}